* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    position: relative;
    padding: 20px;
}

/* Navber */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 32px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

ul>li {
    list-style: none;
    color: #13131399;
}

.account {
    border: 1px solid #13131399;
    border-radius: 100%;
    padding: 8px;
    color: #13131399;
}

/* Banner */
.banner-section {
    display: flex;
    margin: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    width: 70%;
}

.sub-title {
    color: #13131399;
    font-weight: 700;
}

.title {
    font-size: 72px;
    font-weight: 900;
    padding: 24px;
}

.btn {
    background-color: #0E7A81;
    border-radius: 8px;
    border: none;
    padding: 16px;
    color: white;
    margin: 24px 0px;
}

/* Adopt Section */
.adopt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.adopt-content {
    text-align: center;
    width: 60%;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 48px 0px 0px 0px;
}

.category-btn {
    padding: 13px 50px;
    border-radius: 8px;
    border: 1px solid gray;
}

.best-deal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    gap: 24px;
}

.card{
    border: 1px solid rgba(19, 19, 19, 0.1);
    border-radius: 8px;
    padding: 20px;

}

.card-content{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(19, 19, 19, 0.7);
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 34%;
    border: 1px solid rgba(19, 19, 19, 0.1);
    border-radius: 8px;
}



/* Responsive for mobile device */
@media screen and (max-width: 600px) {

    /* Body */
    body {
        padding: 5px;
    }

    /* Navber */
    ul {
        display: none;
    }

    .account {
        display: none;
    }

    .fa-solid {
        display: block;
    }

    /* Banner */
    .banner {
        width: 100%;
    }

    .title {
        font-size: 35px;
        font-weight: 900;
        padding: 10px 0;
    }

    .bnr-img {
        width: 100%;
    }
}